.link{
  color: black;
  text-decoration: underline;
}

.badge{
  font-size:30px;
}

.text-primary{
  font-size: 30px;
  text-align: right;
}

.line{
  width: 70%;
  border-top: 3px solid black;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
