.link{
  color: black;
  text-decoration: underline;
}

.badge{
  font-size:30px;
}

.text-secondary{
  font-size: 30px;
  text-align: right;
}

.line{
  width: 70%;
  border-top: 3px solid black;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
.masthead-heading{
  font-family: 'Oleo Script Swash Caps', cursive;
}
.pro-head{
  font-family: 'Roboto', sans-serif;
}
.masthead-subheading{
  font-family: 'Syne Mono', monospace;
  font-size: 2rem !important;
}
